### Create Spark Context

In [1]:
from pyspark.sql import SparkSession
import time as t

In [2]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [3]:
spark

### Download JDBC driver and put it into extensions folder of JAVA

In [4]:
jdbcHostname = ""
jdbcDatabase = "PSX"
username = "SA"
password = ""
jdbcUrl = "jdbc:sqlserver://{0};database={1};user={2};password={3}".format(jdbcHostname, jdbcDatabase, 
                                                                           username, password)
connectionProperties = {
  "driver" : "com.microsoft.sqlserver.jdbc.SQLServerDriver"
}

In [5]:
pushdown_query = "(select * from universe where ticker = 'SEARL') uni"
df = spark.read.jdbc(url=jdbcUrl, table=pushdown_query, properties=connectionProperties)

In [6]:
df.show()

+-------------------+------+-----+-----+-----+-----+-------+
|               Date|ticker| Open| High|  Low|close| Volume|
+-------------------+------+-----+-----+-----+-----+-------+
|2005-12-31 00:00:00| SEARL| 30.0| 31.5| 31.2| 31.5| 3500.0|
|2006-03-03 00:00:00| SEARL| 36.0| 35.6|34.75| 35.0| 7500.0|
|2006-03-21 00:00:00| SEARL| 37.8| 37.5|36.65| 37.0| 4000.0|
|2006-03-23 00:00:00| SEARL| 37.0| 37.0| 36.0| 36.5| 9000.0|
|2006-03-26 00:00:00| SEARL| 36.5| 37.1| 36.5| 37.1| 2000.0|
|2006-03-27 00:00:00| SEARL| 37.1| 37.0| 37.0| 37.0|    0.0|
|2006-03-29 00:00:00| SEARL|36.95|36.95|36.95|36.95|  500.0|
|2006-03-30 00:00:00| SEARL|36.95| 37.0| 37.0| 37.0|  500.0|
|2006-04-02 00:00:00| SEARL| 37.0|37.15| 37.0|37.15| 5000.0|
|2006-04-03 00:00:00| SEARL|37.15| 38.0|37.15|37.75|10500.0|
|2006-04-04 00:00:00| SEARL|37.75|38.75| 36.6|38.55|10500.0|
|2006-04-05 00:00:00| SEARL|38.55| 39.0| 38.5| 39.0|16000.0|
|2006-04-06 00:00:00| SEARL| 39.0| 39.5|38.55| 39.0| 5000.0|
|2006-04-09 00:00:00| SEARL| 39.0|39.85|38.55|38.55|12000.0|
|2006-04-10 00:00:00| SEARL|38.55| 38.0| 38.0| 38.0|    0.0|
|2006-04-12 00:00:00| SEARL|38.55| 38.0| 38.0| 38.0|    0.0|
|2006-04-13 00:00:00| SEARL| 38.0| 38.0| 38.0| 38.0|  500.0|
|2006-04-16 00:00:00| SEARL| 38.0| 38.0| 37.5|37.75| 5000.0|
|2006-04-17 00:00:00| SEARL|37.75| 38.0| 37.1|37.25| 7000.0|
|2006-04-18 00:00:00| SEARL|37.25| 38.9| 37.3| 38.1| 4000.0|
+-------------------+------+-----+-----+-----+-----+-------+
only showing top 20 rows

### Get table Schema

In [7]:
df.printSchema()

root
 |-- Date: timestamp (nullable = true)
 |-- ticker: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- close: double (nullable = true)
 |-- Volume: double (nullable = true)

### Describe DataFrame

In [8]:
df.describe().show()

+-------+------+------------------+------------------+------------------+------------------+------------------+
|summary|ticker|              Open|              High|               Low|             close|            Volume|
+-------+------+------------------+------------------+------------------+------------------+------------------+
|  count|  3232|              3232|              3232|              3232|              3232|              3232|
|   mean|  null|183.53226485148517|186.65519801980216|180.80273205445576|  183.465396039604|278851.58106435643|
| stddev|  null|176.98825222982038|179.66578724810626|174.48428988669076|176.73419793942404|  452752.968930753|
|    min| SEARL|              24.0|             24.15|             23.85|              24.0|               0.0|
|    max| SEARL|             740.0|             761.0|            728.02|            739.23|         5788100.0|
+-------+------+------------------+------------------+------------------+------------------+------------------+

### Get Column Names

In [9]:
df.columns

['Date', 'ticker', 'Open', 'High', 'Low', 'close', 'Volume']

### Filter DataFrame to get Column or DataFrame object

#### Column Object

In [10]:
type(df['ticker'])

pyspark.sql.column.Column

#### DataFrame Object

In [11]:
type(df.select('ticker'))

pyspark.sql.dataframe.DataFrame

##### Get Multiple Columns

In [12]:
df['ticker', 'Open']

DataFrame[ticker: string, Open: double]

In [13]:
df.select(['ticker', 'Open']).show(2)

+------+----+
|ticker|Open|
+------+----+
| SEARL|30.0|
| SEARL|36.0|
+------+----+
only showing top 2 rows

In [14]:
type(df.select(['ticker', 'Open']))

pyspark.sql.dataframe.DataFrame

### Get DF Rows

In [15]:
df.head(2)[0]

Row(Date=datetime.datetime(2005, 12, 31, 0, 0), ticker='SEARL', Open=30.0, High=31.5, Low=31.2, close=31.5, Volume=3500.0)

In [16]:
type(df.head(2)[0])

pyspark.sql.types.Row

### Add new column to DataFrame

In [17]:
df.withColumn('AOHLC', (df['Open'] + df['High'] + df['Low'] + df['Close'])/4).show(2)

+-------------------+------+----+----+-----+-----+------+-------+
|               Date|ticker|Open|High|  Low|close|Volume|  AOHLC|
+-------------------+------+----+----+-----+-----+------+-------+
|2005-12-31 00:00:00| SEARL|30.0|31.5| 31.2| 31.5|3500.0|  31.05|
|2006-03-03 00:00:00| SEARL|36.0|35.6|34.75| 35.0|7500.0|35.3375|
+-------------------+------+----+----+-----+-----+------+-------+
only showing top 2 rows

### Above addition of column was not permenant. See below

In [18]:
df.show(2)

+-------------------+------+----+----+-----+-----+------+
|               Date|ticker|Open|High|  Low|close|Volume|
+-------------------+------+----+----+-----+-----+------+
|2005-12-31 00:00:00| SEARL|30.0|31.5| 31.2| 31.5|3500.0|
|2006-03-03 00:00:00| SEARL|36.0|35.6|34.75| 35.0|7500.0|
+-------------------+------+----+----+-----+-----+------+
only showing top 2 rows

### Assign new df to incorporate changes

In [19]:
df_ohlc = df.withColumn('AOHLC', (df['Open'] + df['High'] + df['Low'] + df['Close'])/4)

In [20]:
df_ohlc.show(2)

+-------------------+------+----+----+-----+-----+------+-------+
|               Date|ticker|Open|High|  Low|close|Volume|  AOHLC|
+-------------------+------+----+----+-----+-----+------+-------+
|2005-12-31 00:00:00| SEARL|30.0|31.5| 31.2| 31.5|3500.0|  31.05|
|2006-03-03 00:00:00| SEARL|36.0|35.6|34.75| 35.0|7500.0|35.3375|
+-------------------+------+----+----+-----+-----+------+-------+
only showing top 2 rows

### Rename Columns

#### Column Renaming is not permenant

In [21]:
df_ohlc.withColumnRenamed('AOHLC', 'Average_ohlc').show(2)

+-------------------+------+----+----+-----+-----+------+------------+
|               Date|ticker|Open|High|  Low|close|Volume|Average_ohlc|
+-------------------+------+----+----+-----+-----+------+------------+
|2005-12-31 00:00:00| SEARL|30.0|31.5| 31.2| 31.5|3500.0|       31.05|
|2006-03-03 00:00:00| SEARL|36.0|35.6|34.75| 35.0|7500.0|     35.3375|
+-------------------+------+----+----+-----+-----+------+------------+
only showing top 2 rows

In [22]:
df_ohlc.show(2)

+-------------------+------+----+----+-----+-----+------+-------+
|               Date|ticker|Open|High|  Low|close|Volume|  AOHLC|
+-------------------+------+----+----+-----+-----+------+-------+
|2005-12-31 00:00:00| SEARL|30.0|31.5| 31.2| 31.5|3500.0|  31.05|
|2006-03-03 00:00:00| SEARL|36.0|35.6|34.75| 35.0|7500.0|35.3375|
+-------------------+------+----+----+-----+-----+------+-------+
only showing top 2 rows

### Register DataFrame as SQL TempView
#### i) SQL can be used to query a dataframe

In [23]:
df_ohlc.createOrReplaceTempView('prices')

In [24]:
open_price = spark.sql('SELECT Date, Open FROM PRICES')

In [25]:
open_price.show(2)

+-------------------+----+
|               Date|Open|
+-------------------+----+
|2005-12-31 00:00:00|30.0|
|2006-03-03 00:00:00|36.0|
+-------------------+----+
only showing top 2 rows

### Filter DataFrame

In [26]:
df.filter("Close < 100").show(2)

+-------------------+------+----+----+-----+-----+------+
|               Date|ticker|Open|High|  Low|close|Volume|
+-------------------+------+----+----+-----+-----+------+
|2005-12-31 00:00:00| SEARL|30.0|31.5| 31.2| 31.5|3500.0|
|2006-03-03 00:00:00| SEARL|36.0|35.6|34.75| 35.0|7500.0|
+-------------------+------+----+----+-----+-----+------+
only showing top 2 rows

In [27]:
df.filter((df['Close'] < 100) 
          & (df['Open'] > 100)).show(2)

+-------------------+------+------+------+-----+-----+-------+
|               Date|ticker|  Open|  High|  Low|close| Volume|
+-------------------+------+------+------+-----+-----+-------+
|2008-04-23 00:00:00| SEARL|104.05|104.95|99.55|99.65|83000.0|
|2008-04-25 00:00:00| SEARL|100.85|  99.9| 96.9| 98.0|36000.0|
+-------------------+------+------+------+-----+-----+-------+

### Collecting Results

In [28]:
close_100 = df.filter((df['Close'] < 100) 
          & (df['Open'] > 100)).collect()

#### Get all the records as list of rows

In [29]:
close_100

[Row(Date=datetime.datetime(2008, 4, 23, 0, 0), ticker='SEARL', Open=104.05, High=104.95, Low=99.55, close=99.65, Volume=83000.0),
 Row(Date=datetime.datetime(2008, 4, 25, 0, 0), ticker='SEARL', Open=100.85, High=99.9, Low=96.9, close=98.0, Volume=36000.0)]

### Groupby

In [30]:
df.groupBy('ticker').max().show()

+------+---------+---------+--------+----------+-----------+
|ticker|max(Open)|max(High)|max(Low)|max(close)|max(Volume)|
+------+---------+---------+--------+----------+-----------+
| SEARL|    740.0|    761.0|  728.02|    739.23|  5788100.0|
+------+---------+---------+--------+----------+-----------+

In [31]:
df.agg({'Open':'max'}).show()

+---------+
|max(Open)|
+---------+
|    740.0|
+---------+

In [32]:
df.agg({'Open': 'min'}).show()

+---------+
|min(Open)|
+---------+
|     24.0|
+---------+

In [33]:
pushdown_query = "(select * from universe where ticker IN ('SEARL', 'OGDC')) uni"
df_mult_tick = spark.read.jdbc(url=jdbcUrl, table=pushdown_query, properties=connectionProperties)

#### Groupby Object

In [34]:
df_groupby_obj = df_mult_tick.groupBy('ticker')

In [35]:
df_groupby_obj.agg({'open':'max'}).show()

+------+---------+
|ticker|max(open)|
+------+---------+
|  OGDC|   287.84|
| SEARL|    740.0|
+------+---------+

In [36]:
df_mult_tick.groupBy('ticker').agg({'open':'min'}).show()

+------+---------+
|ticker|min(open)|
+------+---------+
|  OGDC|    40.97|
| SEARL|     24.0|
+------+---------+

### Pyspark Functions

In [37]:
from pyspark.sql.functions import avg,countDistinct,stddev,count,format_number

In [38]:
df_mult_tick.filter(df_mult_tick.ticker == 'OGDC').select(avg('High').alias('Average OGDC')) \
.select(format_number('Average OGDC', 2).alias('Avg ODGDC 2 DEC')).show()

+---------------+
|Avg ODGDC 2 DEC|
+---------------+
|         155.66|
+---------------+

In [39]:
df_mult_tick.filter(df_mult_tick.ticker == 'OGDC').select(avg('High').alias('Average OGDC')) \
.select(format_number('Average OGDC', 3).alias('Avg ODGDC 3 DEC')).show()

+---------------+
|Avg ODGDC 3 DEC|
+---------------+
|        155.660|
+---------------+

### Dealing with Decimal places

In [40]:
df_mult_tick.filter(df_mult_tick.ticker == 'OGDC').select(avg('High').alias('Average OGDC')).show()

+------------------+
|      Average OGDC|
+------------------+
|155.66028700906375|
+------------------+

#### Other Functions

In [41]:
df_mult_tick.filter(df_mult_tick.ticker == 'OGDC').select(count('High').alias('Count OGDC')).show()

+----------+
|Count OGDC|
+----------+
|      3310|
+----------+

In [42]:
df_mult_tick.filter(df_mult_tick.ticker == 'OGDC').select(countDistinct('High').alias('Distinct Count OGDC')).show()

+-------------------+
|Distinct Count OGDC|
+-------------------+
|               2007|
+-------------------+

### OrderBy

In [43]:
df_mult_tick.orderBy('Date').show()

+-------------------+------+------+------+------+------+---------+
|               Date|ticker|  Open|  High|   Low| close|   Volume|
+-------------------+------+------+------+------+------+---------+
|2005-12-31 00:00:00|  OGDC| 115.5|121.25| 115.5|121.25|2183300.0|
|2005-12-31 00:00:00| SEARL|  30.0|  31.5|  31.2|  31.5|   3500.0|
|2006-03-03 00:00:00|  OGDC|164.95| 166.5| 162.6|164.25|4.76343E7|
|2006-03-03 00:00:00| SEARL|  36.0|  35.6| 34.75|  35.0|   7500.0|
|2006-03-21 00:00:00|  OGDC| 150.8|155.25| 151.8|154.95|8.90524E7|
|2006-03-21 00:00:00| SEARL|  37.8|  37.5| 36.65|  37.0|   4000.0|
|2006-03-23 00:00:00|  OGDC|154.95|162.65| 155.6|162.65| 1.1142E8|
|2006-03-23 00:00:00| SEARL|  37.0|  37.0|  36.0|  36.5|   9000.0|
|2006-03-26 00:00:00|  OGDC|162.65| 165.7| 156.1|156.65|9.31207E7|
|2006-03-26 00:00:00| SEARL|  36.5|  37.1|  36.5|  37.1|   2000.0|
|2006-03-27 00:00:00| SEARL|  37.1|  37.0|  37.0|  37.0|      0.0|
|2006-03-27 00:00:00|  OGDC|156.65| 158.8|154.45|157.05|5.83585E7|
|2006-03-29 00:00:00|  OGDC| 155.0|162.25|154.05|161.45|8.58887E7|
|2006-03-29 00:00:00| SEARL| 36.95| 36.95| 36.95| 36.95|    500.0|
|2006-03-30 00:00:00|  OGDC|161.45|162.15|156.75| 157.6|6.24362E7|
|2006-03-30 00:00:00| SEARL| 36.95|  37.0|  37.0|  37.0|    500.0|
|2006-04-02 00:00:00| SEARL|  37.0| 37.15|  37.0| 37.15|   5000.0|
|2006-04-02 00:00:00|  OGDC| 157.6| 159.1| 156.8|157.45| 3.4254E7|
|2006-04-03 00:00:00|  OGDC|157.45| 159.0|157.45|157.45|4486600.0|
|2006-04-03 00:00:00| SEARL| 37.15|  38.0| 37.15| 37.75|  10500.0|
+-------------------+------+------+------+------+------+---------+
only showing top 20 rows

In [44]:
df_mult_tick.orderBy(df_mult_tick['Date'].desc()).show()

+-------------------+------+------+------+------+------+---------+
|               Date|ticker|  Open|  High|   Low| close|   Volume|
+-------------------+------+------+------+------+------+---------+
|2019-12-13 00:00:00|  OGDC|130.48|135.99|130.35|135.19|1.08541E7|
|2019-12-13 00:00:00| SEARL|194.51|197.01|193.05|194.28|1201800.0|
|2019-12-12 00:00:00|  OGDC| 128.0|131.24| 128.0|129.85|2669000.0|
|2019-12-12 00:00:00| SEARL|198.99|199.45| 193.0|194.14| 668100.0|
|2019-12-11 00:00:00|  OGDC|129.68|129.68|127.75|128.48|2355500.0|
|2019-12-11 00:00:00| SEARL| 206.3| 206.8| 198.5|199.69| 901400.0|
|2019-12-10 00:00:00|  OGDC| 131.7|131.75| 129.9|130.85|1834200.0|
|2019-12-10 00:00:00| SEARL|200.62| 206.0| 199.5|204.36|1240700.0|
|2019-12-09 00:00:00|  OGDC|131.67| 132.1| 130.7|131.57|2847700.0|
|2019-12-09 00:00:00| SEARL|198.25| 203.5|197.05|200.22|1290500.0|
|2019-12-06 00:00:00| SEARL|206.39| 207.0|197.05|198.71|1226900.0|
|2019-12-06 00:00:00|  OGDC| 129.7| 131.5| 129.6|130.67|3383700.0|
|2019-12-05 00:00:00|  OGDC| 129.9| 130.0|128.58|129.09|4062500.0|
|2019-12-05 00:00:00| SEARL| 209.0|211.39|203.03|205.96|1935800.0|
|2019-12-04 00:00:00|  OGDC|128.25| 129.0|127.06|128.36|2149700.0|
|2019-12-04 00:00:00| SEARL|200.51| 207.5| 198.0|206.34|3118900.0|
|2019-12-03 00:00:00| SEARL| 195.1|202.54| 195.0|199.07|4242500.0|
|2019-12-03 00:00:00|  OGDC| 129.0| 130.0|127.03|127.57|3319200.0|
|2019-12-02 00:00:00|  OGDC| 131.0| 131.0|127.12|128.58|5452300.0|
|2019-12-02 00:00:00| SEARL| 184.5| 192.9| 183.0| 192.9|2771800.0|
+-------------------+------+------+------+------+------+---------+
only showing top 20 rows

### Dealing With Null Values

In [45]:
null_df = spark.read.csv('NullData.csv', header=True)

In [46]:
null_df.printSchema()

root
 |-- Acct: string (nullable = true)
 |-- month: string (nullable = true)
 |-- Debit: string (nullable = true)
 |-- Credit: string (nullable = true)

In [47]:
null_df.show()

+----+-----+-----+------+
|Acct|month|Debit|Credit|
+----+-----+-----+------+
|   A|    1|  100|   200|
|   A|    2|  200|   200|
|   A|    3|  300|    10|
|   B|    1|   10|   200|
|   B|    3|   20|  null|
|   C|    1| 1000|   100|
|   C|    2|   10|  null|
|   C|    3| null|  null|
+----+-----+-----+------+

#### Drop NA Values

In [48]:
null_df.na.drop().show()

+----+-----+-----+------+
|Acct|month|Debit|Credit|
+----+-----+-----+------+
|   A|    1|  100|   200|
|   A|    2|  200|   200|
|   A|    3|  300|    10|
|   B|    1|   10|   200|
|   C|    1| 1000|   100|
+----+-----+-----+------+

#### Drop NA Values with threeshold

In [49]:
# Each row must contain atleast 2 non null values to be not dropped
null_df.na.drop(thresh =2).show()

+----+-----+-----+------+
|Acct|month|Debit|Credit|
+----+-----+-----+------+
|   A|    1|  100|   200|
|   A|    2|  200|   200|
|   A|    3|  300|    10|
|   B|    1|   10|   200|
|   B|    3|   20|  null|
|   C|    1| 1000|   100|
|   C|    2|   10|  null|
|   C|    3| null|  null|
+----+-----+-----+------+

In [50]:
# define subset to drop
null_df.na.drop(subset = ['Debit']).show()

+----+-----+-----+------+
|Acct|month|Debit|Credit|
+----+-----+-----+------+
|   A|    1|  100|   200|
|   A|    2|  200|   200|
|   A|    3|  300|    10|
|   B|    1|   10|   200|
|   B|    3|   20|  null|
|   C|    1| 1000|   100|
|   C|    2|   10|  null|
+----+-----+-----+------+

In [51]:
from pyspark.sql.types import FloatType, IntegerType

In [52]:
converted_null_df = null_df.withColumn('Debit', null_df['Debit'].cast(IntegerType()))

In [53]:
converted_null_df = converted_null_df.withColumn('Credit', converted_null_df['Credit'].cast(IntegerType()))

In [54]:
converted_null_df.show()

+----+-----+-----+------+
|Acct|month|Debit|Credit|
+----+-----+-----+------+
|   A|    1|  100|   200|
|   A|    2|  200|   200|
|   A|    3|  300|    10|
|   B|    1|   10|   200|
|   B|    3|   20|  null|
|   C|    1| 1000|   100|
|   C|    2|   10|  null|
|   C|    3| null|  null|
+----+-----+-----+------+

In [55]:
converted_null_df.groupby('Acct').pivot('Month').sum('Debit').show()

+----+----+----+----+
|Acct|   1|   2|   3|
+----+----+----+----+
|   B|  10|null|  20|
|   C|1000|  10|null|
|   A| 100| 200| 300|
+----+----+----+----+

In [56]:
pivoted_data = converted_null_df.groupby('Acct').pivot('Month').sum('Debit', 'Credit')

In [57]:
##Renaming columns in above df
#https://sparkbyexamples.com/spark/rename-a-column-on-spark-dataframes/
renamed_conv_null_df = pivoted_data.withColumnRenamed('1_sum(CAST(Debit AS BIGINT))', 'M1D') \
                      .withColumnRenamed('1_sum(CAST(Credit AS BIGINT))', 'M1C') \
                      .withColumnRenamed('2_sum(CAST(Debit AS BIGINT))', 'M2D') \
                    .withColumnRenamed('2_sum(CAST(Credit AS BIGINT))', 'M2C') \
                    .withColumnRenamed('3_sum(CAST(Debit AS BIGINT))', 'M3D') \
                    .withColumnRenamed('3_sum(CAST(Credit AS BIGINT))', 'M3C')

In [58]:
pivoted_data.printSchema()

root
 |-- Acct: string (nullable = true)
 |-- 1_sum(CAST(Debit AS BIGINT)): long (nullable = true)
 |-- 1_sum(CAST(Credit AS BIGINT)): long (nullable = true)
 |-- 2_sum(CAST(Debit AS BIGINT)): long (nullable = true)
 |-- 2_sum(CAST(Credit AS BIGINT)): long (nullable = true)
 |-- 3_sum(CAST(Debit AS BIGINT)): long (nullable = true)
 |-- 3_sum(CAST(Credit AS BIGINT)): long (nullable = true)

In [59]:
renamed_conv_null_df.show()

+----+----+---+----+----+----+----+
|Acct| M1D|M1C| M2D| M2C| M3D| M3C|
+----+----+---+----+----+----+----+
|   B|  10|200|null|null|  20|null|
|   C|1000|100|  10|null|null|null|
|   A| 100|200| 200| 200| 300|  10|
+----+----+---+----+----+----+----+

In [105]:
from pyspark.sql.functions import *

In [61]:
renamed_conv_null_df.select('M2D').na.fill(0)(when(col('M2D') == 0, 1).otherwise('M2D'))

TypeError: 'DataFrame' object is not callable

In [ ]:
#https://stackoverflow.com/questions/39048229/spark-equivalent-of-if-then-else
renamed_conv_null_df.select('M2D').na.fill(0) \
.withColumn('M2D', when(col('M2D') == 0, 1) \
            .otherwise(col('M2D'))).show()

In [79]:
renamed_conv_null_df.show()

+----+----+---+----+----+----+----+
|Acct| M1D|M1C| M2D| M2C| M3D| M3C|
+----+----+---+----+----+----+----+
|   B|  10|200|null|null|  20|null|
|   C|1000|100|  10|null|null|null|
|   A| 100|200| 200| 200| 300|  10|
+----+----+---+----+----+----+----+

In [115]:
df = renamed_conv_null_df

In [102]:
df.show()

+----+----+---+----+----+----+----+
|Acct| M1D|M1C| M2D| M2C| M3D| M3C|
+----+----+---+----+----+----+----+
|   B|  10|200|null|null|  20|null|
|   C|1000|100|  10|null|null|null|
|   A| 100|200| 200| 200| 300|  10|
+----+----+---+----+----+----+----+

In [116]:
df = df.withColumn('Ratio', col('M2C')).fillna(0, subset=['Ratio'])

In [117]:
df.show()

+----+----+---+----+----+----+----+-----+
|Acct| M1D|M1C| M2D| M2C| M3D| M3C|Ratio|
+----+----+---+----+----+----+----+-----+
|   B|  10|200|null|null|  20|null|    0|
|   C|1000|100|  10|null|null|null|    0|
|   A| 100|200| 200| 200| 300|  10|  200|
+----+----+---+----+----+----+----+-----+

In [93]:
type(df.select(func.col('M2C'))['M2C'])

pyspark.sql.column.Column

In [135]:
#https://blog.justalfred.com/html/PyGotham2016.html
renamed_conv_null_df = renamed_conv_null_df.withColumn('Ratio', renamed_conv_null_df.select('M2C') \
                                                       .fillna(0, subset=['M2C']))

AnalysisException: 'Resolved attribute(s) M2C#5401L missing from M3C#1178L,M1C#1146L,M2C#1162L,Acct#800,M3D#1170L,M2D#1154L,M1D#1138L,div#4939L,Ratio#4930L in operator !Project [Acct#800, M1D#1138L, M1C#1146L, M2D#1154L, M2C#1162L, M3D#1170L, M3C#1178L, M2C#5401L AS Ratio#5403L, div#4939L]. Attribute(s) with the same name appear in the operation: M2C. Please check if the right attribute(s) are used.;;\n!Project [Acct#800, M1D#1138L, M1C#1146L, M2D#1154L, M2C#1162L, M3D#1170L, M3C#1178L, M2C#5401L AS Ratio#5403L, div#4939L]\n+- Project [Acct#800, M1D#1138L, M1C#1146L, M2D#1154L, M2C#1162L, M3D#1170L, M3C#1178L, Ratio#4930L, Ratio#4930L AS div#4939L]\n   +- Project [Acct#800, M1D#1138L, M1C#1146L, M2D#1154L, M2C#1162L, M3D#1170L, M3C#1178L, coalesce(Ratio#4913L, cast(0.0 as bigint)) AS Ratio#4930L]\n      +- Project [Acct#800, M1D#1138L, M1C#1146L, M2D#1154L, M2C#1162L, M3D#1170L, M3C#1178L, M2C#1162L AS Ratio#4913L]\n         +- Project [Acct#800, M1D#1138L, M1C#1146L, M2D#1154L, M2C#1162L, M3D#1170L, 3_sum(CAST(Credit AS BIGINT))#1130L AS M3C#1178L]\n            +- Project [Acct#800, M1D#1138L, M1C#1146L, M2D#1154L, M2C#1162L, 3_sum(CAST(Debit AS BIGINT))#1129L AS M3D#1170L, 3_sum(CAST(Credit AS BIGINT))#1130L]\n               +- Project [Acct#800, M1D#1138L, M1C#1146L, M2D#1154L, 2_sum(CAST(Credit AS BIGINT))#1128L AS M2C#1162L, 3_sum(CAST(Debit AS BIGINT))#1129L, 3_sum(CAST(Credit AS BIGINT))#1130L]\n                  +- Project [Acct#800, M1D#1138L, M1C#1146L, 2_sum(CAST(Debit AS BIGINT))#1127L AS M2D#1154L, 2_sum(CAST(Credit AS BIGINT))#1128L, 3_sum(CAST(Debit AS BIGINT))#1129L, 3_sum(CAST(Credit AS BIGINT))#1130L]\n                     +- Project [Acct#800, M1D#1138L, 1_sum(CAST(Credit AS BIGINT))#1126L AS M1C#1146L, 2_sum(CAST(Debit AS BIGINT))#1127L, 2_sum(CAST(Credit AS BIGINT))#1128L, 3_sum(CAST(Debit AS BIGINT))#1129L, 3_sum(CAST(Credit AS BIGINT))#1130L]\n                        +- Project [Acct#800, 1_sum(CAST(Debit AS BIGINT))#1125L AS M1D#1138L, 1_sum(CAST(Credit AS BIGINT))#1126L, 2_sum(CAST(Debit AS BIGINT))#1127L, 2_sum(CAST(Credit AS BIGINT))#1128L, 3_sum(CAST(Debit AS BIGINT))#1129L, 3_sum(CAST(Credit AS BIGINT))#1130L]\n                           +- Project [Acct#800, __pivot_sum(CAST(`Debit` AS BIGINT)) AS `sum(CAST(``Debit`` AS BIGINT))`#1116[0] AS 1_sum(CAST(Debit AS BIGINT))#1125L, __pivot_sum(CAST(`Credit` AS BIGINT)) AS `sum(CAST(``Credit`` AS BIGINT))`#1124[0] AS 1_sum(CAST(Credit AS BIGINT))#1126L, __pivot_sum(CAST(`Debit` AS BIGINT)) AS `sum(CAST(``Debit`` AS BIGINT))`#1116[1] AS 2_sum(CAST(Debit AS BIGINT))#1127L, __pivot_sum(CAST(`Credit` AS BIGINT)) AS `sum(CAST(``Credit`` AS BIGINT))`#1124[1] AS 2_sum(CAST(Credit AS BIGINT))#1128L, __pivot_sum(CAST(`Debit` AS BIGINT)) AS `sum(CAST(``Debit`` AS BIGINT))`#1116[2] AS 3_sum(CAST(Debit AS BIGINT))#1129L, __pivot_sum(CAST(`Credit` AS BIGINT)) AS `sum(CAST(``Credit`` AS BIGINT))`#1124[2] AS 3_sum(CAST(Credit AS BIGINT))#1130L]\n                              +- Aggregate [Acct#800], [Acct#800, pivotfirst(Month#801, sum(CAST(`Debit` AS BIGINT))#1107L, 1, 2, 3, 0, 0) AS __pivot_sum(CAST(`Debit` AS BIGINT)) AS `sum(CAST(``Debit`` AS BIGINT))`#1116, pivotfirst(Month#801, sum(CAST(`Credit` AS BIGINT))#1108L, 1, 2, 3, 0, 0) AS __pivot_sum(CAST(`Credit` AS BIGINT)) AS `sum(CAST(``Credit`` AS BIGINT))`#1124]\n                                 +- Aggregate [Acct#800, Month#801], [Acct#800, Month#801, sum(cast(Debit#888 as bigint)) AS sum(CAST(`Debit` AS BIGINT))#1107L, sum(cast(Credit#893 as bigint)) AS sum(CAST(`Credit` AS BIGINT))#1108L]\n                                    +- Project [Acct#800, month#801, Debit#888, cast(Credit#803 as int) AS Credit#893]\n                                       +- Project [Acct#800, month#801, cast(Debit#802 as int) AS Debit#888, Credit#803]\n                                          +- Relation[Acct#800,month#801,Debit#802,Credit#803] csv\n'

In [127]:
renamed_conv_null_df.show()

+----+----+---+----+----+----+----+-----+---+
|Acct| M1D|M1C| M2D| M2C| M3D| M3C|Ratio|div|
+----+----+---+----+----+----+----+-----+---+
|   B|  10|200|null|null|  20|null|    0|  0|
|   C|1000|100|  10|null|null|null|    0|  0|
|   A| 100|200| 200| 200| 300|  10|  200|200|
+----+----+---+----+----+----+----+-----+---+

In [132]:
renamed_conv_null_df.select('M2D').fillna(0, subset=['M2D']).show()

+---+
|M2D|
+---+
|  0|
| 10|
|200|
+---+

In [ ]:
renamed_conv_null_df.select('M2D').na.fill(0) \
.withColumn('M2D', when(col('M2D') == 0, 1) \
.otherwise(col('M2D')))

In [ ]:
renamed_conv_null_df.select('M2C').na.fill(0)['M2C'])