In [1]:
// https://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.sql.Dataset
// https://towardsdatascience.com/python-pandas-vs-scala-how-to-handle-dataframes-part-ii-d3e5efe8287d
// https://towardsdatascience.com/python-vs-scala-a-comparison-of-the-basic-commands-fae23b3ede23
// https://docs.databricks.com/data/data-sources/read-csv.html

import org.apache.spark.sql.SparkSession
import org.apache.spark.sql.types._

Intitializing Scala interpreter ...

Spark Web UI available at http://192.168.0.180:4040
SparkContext available as 'sc' (version = 2.4.4, master = local[*], app id = local-1578843109447)
SparkSession available as 'spark'

import org.apache.spark.sql.SparkSession
import org.apache.spark.sql.types._

In [2]:
val spark = SparkSession
  .builder()
  .appName("Basics")
  .getOrCreate()

spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@1174644a

In [3]:
%%time
val firedep =  spark.read
              .format("csv")
              .option("header", "true") //first line in file has headers
              .option("mode", "DROPMALFORMED")
              .load("/Users/furqan/Python/Spark_Temp/Fire_Department_Calls_for_Service.csv")

Time: 3.7252249717712402 seconds.

firedep: org.apache.spark.sql.DataFrame = [Call Number: string, Unit ID: string ... 32 more fields]

In [4]:
firedep.show(5, false)
//firedep.collect.foreach(println)

+-----------+-------+---------------+--------------+----------+----------+----------------------+----------------------+----------------------+----------------------+----------------------+--------------+-------------+----------------------+----------------------+-------------------------+-------------+-------------------+---------+------------+----+-----------------+--------+--------------+--------+---------------+----------------+---------+------------------------------+------------------------+-------------------+------------------------------------+-----------------------------------------+-------------+
|Call Number|Unit ID|Incident Number|Call Type     |Call Date |Watch Date|Received DtTm         |Entry DtTm            |Dispatch DtTm         |Response DtTm         |On Scene DtTm         |Transport DtTm|Hospital DtTm|Call Final Disposition|Available DtTm        |Address                  |City         |Zipcode of Incident|Battalion|Station Area|Box |Original Priority|Priority|Final Priority|ALS Unit|Call Type Group|Number of Alarms|Unit Type|Unit sequence in call dispatch|Fire Prevention District|Supervisor District|Neighborhooods - Analysis Boundaries|Location                                 |RowID        |
+-----------+-------+---------------+--------------+----------+----------+----------------------+----------------------+----------------------+----------------------+----------------------+--------------+-------------+----------------------+----------------------+-------------------------+-------------+-------------------+---------+------------+----+-----------------+--------+--------------+--------+---------------+----------------+---------+------------------------------+------------------------+-------------------+------------------------------------+-----------------------------------------+-------------+
|192910017  |E11    |19125164       |Alarms        |10/18/2019|10/17/2019|10/18/2019 12:03:52 AM|10/18/2019 12:06:59 AM|10/18/2019 12:07:05 AM|10/18/2019 12:08:28 AM|10/18/2019 12:11:10 AM|null          |null         |Fire                  |10/18/2019 12:33:57 AM|24TH ST/VALENCIA ST      |San Francisco|94110              |B06      |11          |5525|3                |3       |3             |true    |Alarm          |1               |ENGINE   |1                             |6                       |9                  |Mission                             |(37.75210364574824, -122.42066480228367) |192910017-E11|
|192910018  |B10    |19125165       |Alarms        |10/18/2019|10/17/2019|10/18/2019 12:05:56 AM|10/18/2019 12:07:27 AM|10/18/2019 12:09:49 AM|null                  |null                  |null          |null         |Other                 |10/18/2019 12:10:14 AM|3300 Block of 23RD ST    |San Francisco|94110              |B06      |11          |0552|3                |3       |3             |false   |Alarm          |1               |CHIEF    |1                             |6                       |9                  |Mission                             |(37.75368162954947, -122.4202535645237)  |192910018-B10|
|192910018  |T07    |19125165       |Alarms        |10/18/2019|10/17/2019|10/18/2019 12:05:56 AM|10/18/2019 12:07:27 AM|10/18/2019 12:09:49 AM|null                  |null                  |null          |null         |Other                 |10/18/2019 12:10:14 AM|3300 Block of 23RD ST    |San Francisco|94110              |B06      |11          |0552|3                |3       |3             |false   |Alarm          |1               |TRUCK    |3                             |6                       |9                  |Mission                             |(37.75368162954947, -122.4202535645237)  |192910018-T07|
|192910025  |B04    |19125166       |Alarms        |10/18/2019|10/17/2019|10/18/2019 12:09:02 AM|10/18/2019 12:09:02 AM|10/18/2019 12:09:02 AM|10/18/2019 12:09:02 AM|10/18/2019 12:09:02 AM|null          |null         |Fire                  |10/18/2019 12:21:52 AM|3300 Block of FILLMORE ST|San Francisco|94123              |B04      |16          |3554|3                |3       |3             |false   |Alarm          |1               |CHIEF    |1                             |4                       |2                  |Marina                              |(37.80034056356869, -122.43607739030332) |192910025-B04|
|192910034  |E01    |19125167       |Structure Fire|10/18/2019|10/17/2019|10/18/2019 12:12:39 AM|10/18/2019 12:12:39 AM|10/18/2019 12:12:48 AM|10/18/2019 12:13:52 AM|10/18/2019 12:16:16 AM|null          |null         |Fire                  |10/18/2019 12:16:25 AM|7TH ST/MISSION ST        |San Francisco|94103              |B02      |01          |2315|3                |3       |3             |true    |Alarm          |1               |ENGINE   |1                             |2                       |6                  |South of Market                     |(37.779211684542084, -122.41093657380038)|192910034-E01|
+-----------+-------+---------------+--------------+----------+----------+----------------------+----------------------+----------------------+----------------------+----------------------+--------------+-------------+----------------------+----------------------+-------------------------+-------------+-------------------+---------+------------+----+-----------------+--------+--------------+--------+---------------+----------------+---------+------------------------------+------------------------+-------------------+------------------------------------+-----------------------------------------+-------------+
only showing top 5 rows

In [5]:
val schema = new StructType()
       .add("CallNumber", IntegerType, true)
       .add("UnitID", StringType, true)
       .add("IncidentNumber", IntegerType, true)
       .add("CallType", StringType, true)
       .add("CallDate", StringType, true)
       .add("WatchDate", StringType, true)
       .add("ReceivedDtTm", StringType, true)
       .add("EntryDtTm", StringType, true)
       .add("DispatchDtTm", StringType, true)
       .add("ResponseDtTm", StringType, true)
       .add("OnSceneDtTm", StringType, true)
       .add("TransportDtTm", StringType, true)
       .add("HospitalDtTm", StringType, true)
       .add("CallFinalDisposition", StringType, true)
       .add("AvailableDtTm", StringType, true)
       .add("Address", StringType, true)
       .add("City", StringType, true)
       .add("ZipcodeOfIncident",IntegerType, true)
       .add("Battalion",StringType, true)
       .add("StationArea",StringType, true)
       .add("Box",StringType, true)
       .add("OriginalPriority",StringType, true)
       .add("Priority", StringType, true)
       .add("FinalPriority", IntegerType, true)
       .add("ALSUnit", BooleanType, true)
       .add("CallTypeGroup", StringType, true)
       .add("NumberOfAlarms", IntegerType, true)
       .add("UnitType", StringType, true)
       .add("UnitSequenceInCallDispatch", IntegerType, true)
       .add("FirePreventionDistrict", StringType, true)
       .add("SupervisorDistrict", StringType, true)
       .add("NeighborhooodsDistrict", StringType, true)
       .add("Location", StringType, true)
       .add("RowID", StringType, true)

schema: org.apache.spark.sql.types.StructType = StructType(StructField(CallNumber,IntegerType,true), StructField(UnitID,StringType,true), StructField(IncidentNumber,IntegerType,true), StructField(CallType,StringType,true), StructField(CallDate,StringType,true), StructField(WatchDate,StringType,true), StructField(ReceivedDtTm,StringType,true), StructField(EntryDtTm,StringType,true), StructField(DispatchDtTm,StringType,true), StructField(ResponseDtTm,StringType,true), StructField(OnSceneDtTm,StringType,true), StructField(TransportDtTm,StringType,true), StructField(HospitalDtTm,StringType,true), StructField(CallFinalDisposition,StringType,true), StructField(AvailableDtTm,StringType,true), StructField(Address,StringType,true), StructField(City,StringType,true), StructField(ZipcodeOfIncident...

In [6]:
%%time
val firedep = spark.read.format("csv")
  .option("header", "true")
  .schema(schema)
  .load("/Users/furqan/Python/Spark_Temp/Fire_Department_Calls_for_Service.csv")

Time: 0.21938419342041016 seconds.

firedep: org.apache.spark.sql.DataFrame = [CallNumber: int, UnitID: string ... 32 more fields]

In [7]:
firedep.printSchema()

root
 |-- CallNumber: integer (nullable = true)
 |-- UnitID: string (nullable = true)
 |-- IncidentNumber: integer (nullable = true)
 |-- CallType: string (nullable = true)
 |-- CallDate: string (nullable = true)
 |-- WatchDate: string (nullable = true)
 |-- ReceivedDtTm: string (nullable = true)
 |-- EntryDtTm: string (nullable = true)
 |-- DispatchDtTm: string (nullable = true)
 |-- ResponseDtTm: string (nullable = true)
 |-- OnSceneDtTm: string (nullable = true)
 |-- TransportDtTm: string (nullable = true)
 |-- HospitalDtTm: string (nullable = true)
 |-- CallFinalDisposition: string (nullable = true)
 |-- AvailableDtTm: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- City: string (nullable = true)
 |-- ZipcodeOfIncident: integer (nullable = true)
 |-- Battalion: string (nullable = true)
 |-- StationArea: string (nullable = true)
 |-- Box: string (nullable = true)
 |-- OriginalPriority: string (nullable = true)
 |-- Priority: string (nullable = true)
 |-- FinalPriority: integer (nullable = true)
 |-- ALSUnit: boolean (nullable = true)
 |-- CallTypeGroup: string (nullable = true)
 |-- NumberOfAlarms: integer (nullable = true)
 |-- UnitType: string (nullable = true)
 |-- UnitSequenceInCallDispatch: integer (nullable = true)
 |-- FirePreventionDistrict: string (nullable = true)
 |-- SupervisorDistrict: string (nullable = true)
 |-- NeighborhooodsDistrict: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- RowID: string (nullable = true)

In [8]:
%%time
firedep.describe().show()

+-------+--------------------+------------------+--------------------+--------------------+----------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------+-----------+------------------+---------+-----------------+------------------+------------------+------------------+-------------------+--------------------+-------------------+--------+--------------------------+----------------------+------------------+----------------------+--------------------+--------------+
|summary|          CallNumber|            UnitID|      IncidentNumber|            CallType|  CallDate| WatchDate|        ReceivedDtTm|           EntryDtTm|        DispatchDtTm|        ResponseDtTm|         OnSceneDtTm|       TransportDtTm|        HospitalDtTm|CallFinalDisposition|       AvailableDtTm|        Address|       City| ZipcodeOfIncident|Battalion|      StationArea|               Box|  OriginalPriority|          Priority|      FinalPriority|       CallTypeGroup|     NumberOfAlarms|UnitType|UnitSequenceInCallDispatch|FirePreventionDistrict|SupervisorDistrict|NeighborhooodsDistrict|            Location|         RowID|
+-------+--------------------+------------------+--------------------+--------------------+----------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------+-----------+------------------+---------+-----------------+------------------+------------------+------------------+-------------------+--------------------+-------------------+--------+--------------------------+----------------------+------------------+----------------------+--------------------+--------------+
|  count|             5144933|           5144933|             5144933|             5144933|   5144933|   5144933|             5144933|             5144933|             5144933|             4731571|             3976402|             1354352|             1219667|             5144933|             5067994|        5144933|    5137139|           5130694|  5144933|          5142603|           5144502|           5119404|           5144930|            5144933|             2338424|            5144933| 5144933|                   5144870|               5144933|           5144933|               5144933|             5144933|       5144933|
|   mean|1.0452980439042258E8|  75.1004358540637|1.0330587302363316E7|                null|      null|      null|                null|                null|                null|                null|                null|                null|                null|                null|                null|           null|       null| 94113.50492837811|     null|18.08897692154346|4078.3620324747476|2.7605420147220032| 2.741932032695544|  2.787688974764103|                null| 1.0054086224252095|    null|         2.165125455064948|    4.7363222721674845|5.9762283142080115|                  null|                null|          null|
| stddev| 5.694029816593383E7|12.863059987150093|  5703928.2673258195|                null|      null|      null|                null|                null|                null|                null|                null|                null|                null|                null|                null|           null|       null|10.207214407073971|     null|14.51858830174029| 2370.489875149915|0.5042920739831711|0.5152759026508116|0.40894386693529283|                null|0.09963311637299194|    null|         2.142986047721931|    2.9212485414672034| 2.715766483312575|                  null|                null|          null|
|    min|             1030101|                27|               30612|      Administrative|01/01/2001|01/01/2001|01/01/2001 01:00:...|01/01/2001 01:01:...|01/01/2001 01:01:...|01/01/2001 01:01:...|01/01/2001 01:00:...|01/01/2001 01:04:...|01/01/2001 01:04:...|Against Medical A...|01/01/2001 01:00:...|***CAMP FIRE***|         AI|             94102|       3E|               01|              0123|                 1|                 1|                  2|               Alarm|                  1| AIRPORT|                         1|                     1|                 1|  Bayview Hunters P...|(37.616882323925,...| 001030101-E18|
|    max|           193414308|               UU1|            19147737|Watercraft in Dis...|12/31/2018|12/31/2018|12/31/2018 12:58:...|12/31/2018 12:59:...|12/31/2018 12:58:...|12/31/2018 12:57:...|12/31/2018 12:59:...|12/31/2018 12:58:...|12/31/2018 12:59:...|    Unable to Locate|12/31/2018 12:59:...|ZOE ST/WELSH ST|Yerba Buena|             94158|      B99|               F3|              AI02|                 I|                 I|                  3|Potentially Life-...|                  5|   TRUCK|                        83|                  None|              None|      Western Addition|(37.8544643401171...|193414308-QRV1|
+-------+--------------------+------------------+--------------------+--------------------+----------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------+-----------+------------------+---------+-----------------+------------------+------------------+------------------+-------------------+--------------------+-------------------+--------+--------------------------+----------------------+------------------+----------------------+--------------------+--------------+

Time: 119.68450593948364 seconds.

## Filter DataFrame to get Column or DataFrame object

### Column Object

In [9]:
//https://stackoverflow.com/questions/39061465/how-to-display-the-results-brough-from-column-functions-using-spark-scala-like-w
//https://spark.apache.org/docs/1.6.0/api/java/org/apache/spark/sql/Column.html
//firedep.select(firedep("CallNumber")).show()
firedep("CallNumber").getClass

res3: Class[_ <: org.apache.spark.sql.Column] = class org.apache.spark.sql.Column

### DataFrame Object

In [10]:
firedep.select("CallNumber").getClass

res4: Class[_ <: org.apache.spark.sql.DataFrame] = class org.apache.spark.sql.Dataset

### Get Multiple Columns

In [11]:
firedep.select($"CallNumber", $"NumberOfAlarms").show(5)

+----------+--------------+
|CallNumber|NumberOfAlarms|
+----------+--------------+
| 192910017|             1|
| 192910018|             1|
| 192910018|             1|
| 192910025|             1|
| 192910034|             1|
+----------+--------------+
only showing top 5 rows

## Get DF Rows

In [12]:
firedep.select($"CallNumber", $"NumberOfAlarms").head()[0]

<console>: 2: error: identifier expected but integer literal found.

## Drop NA Values

In [13]:
val null_df = spark.read.format("csv")
  .option("header", "true")
  .load("NullData.csv")

null_df: org.apache.spark.sql.DataFrame = [Acct: string, month: string ... 2 more fields]

In [14]:
null_df.show()

+----+-----+-----+------+
|Acct|month|Debit|Credit|
+----+-----+-----+------+
|   A|    1|  100|   200|
|   A|    2|  200|   200|
|   A|    3|  300|    10|
|   B|    1|   10|   200|
|   B|    3|   20|  null|
|   C|    1| 1000|   100|
|   C|    2|   10|  null|
|   C|    3| null|  null|
+----+-----+-----+------+

In [15]:
null_df.na.drop().show()

+----+-----+-----+------+
|Acct|month|Debit|Credit|
+----+-----+-----+------+
|   A|    1|  100|   200|
|   A|    2|  200|   200|
|   A|    3|  300|    10|
|   B|    1|   10|   200|
|   C|    1| 1000|   100|
+----+-----+-----+------+

## Drop NA with threshold

In [16]:
// Each row must contain atleast 2 non null values to be not dropped
null_df.na.drop(2).show()

+----+-----+-----+------+
|Acct|month|Debit|Credit|
+----+-----+-----+------+
|   A|    1|  100|   200|
|   A|    2|  200|   200|
|   A|    3|  300|    10|
|   B|    1|   10|   200|
|   B|    3|   20|  null|
|   C|    1| 1000|   100|
|   C|    2|   10|  null|
|   C|    3| null|  null|
+----+-----+-----+------+

In [17]:
null_df.select("Debit").getClass

res9: Class[_ <: org.apache.spark.sql.DataFrame] = class org.apache.spark.sql.Dataset

In [18]:
// define subset to drop
null_df.filter(null_df.col("Debit").isNotNull).show()

+----+-----+-----+------+
|Acct|month|Debit|Credit|
+----+-----+-----+------+
|   A|    1|  100|   200|
|   A|    2|  200|   200|
|   A|    3|  300|    10|
|   B|    1|   10|   200|
|   B|    3|   20|  null|
|   C|    1| 1000|   100|
|   C|    2|   10|  null|
+----+-----+-----+------+

In [53]:
null_df.na.drop(how="any",Seq("Debit")).show()

+----+-----+-----+------+
|Acct|month|Debit|Credit|
+----+-----+-----+------+
|   A|    1|  100|   200|
|   A|    2|  200|   200|
|   A|    3|  300|    10|
|   B|    1|   10|   200|
|   B|    3|   20|  null|
|   C|    1| 1000|   100|
|   C|    2|   10|  null|
+----+-----+-----+------+

In [46]:
null_df.na.drop(how="any").show()

+----+-----+-----+------+
|Acct|month|Debit|Credit|
+----+-----+-----+------+
|   A|    1|  100|   200|
|   A|    2|  200|   200|
|   A|    3|  300|    10|
|   B|    1|   10|   200|
|   C|    1| 1000|   100|
+----+-----+-----+------+

In [51]:
var converted_null_df = null_df.withColumn("Debit", col("Debit").cast(IntegerType))

converted_null_df: org.apache.spark.sql.DataFrame = [Acct: string, month: string ... 2 more fields]

In [52]:
converted_null_df = converted_null_df.withColumn("Credit", col("Credit").cast(IntegerType))

converted_null_df: org.apache.spark.sql.DataFrame = [Acct: string, month: string ... 2 more fields]

In [53]:
converted_null_df.printSchema

root
 |-- Acct: string (nullable = true)
 |-- month: string (nullable = true)
 |-- Debit: integer (nullable = true)
 |-- Credit: integer (nullable = true)

## Pivot Data

In [54]:
var pvt_df = converted_null_df.groupBy("Acct").pivot("Month").sum("Debit")

pvt_df: org.apache.spark.sql.DataFrame = [Acct: string, 1: bigint ... 2 more fields]

In [55]:
pvt_df.show()

+----+----+----+----+
|Acct|   1|   2|   3|
+----+----+----+----+
|   B|  10|null|  20|
|   C|1000|  10|null|
|   A| 100| 200| 300|
+----+----+----+----+

In [65]:
pivoted_data.printSchema()

root
 |-- Acct: string (nullable = true)
 |-- 1_sum(Debit): long (nullable = true)
 |-- 1_sum(Credit): long (nullable = true)
 |-- 2_sum(Debit): long (nullable = true)
 |-- 2_sum(Credit): long (nullable = true)
 |-- 3_sum(Debit): long (nullable = true)
 |-- 3_sum(Credit): long (nullable = true)

In [56]:
var pivoted_data = converted_null_df.groupBy("Acct").pivot("Month").sum("Debit", "Credit")

pivoted_data: org.apache.spark.sql.DataFrame = [Acct: string, 1_sum(Debit): bigint ... 5 more fields]

## Column Renaming

In [67]:
var renamed_conv_null_df = pivoted_data.withColumnRenamed("1_sum(Debit)", "M1D") 
                          .withColumnRenamed("1_sum(Credit)", "M1C") 
                          .withColumnRenamed("2_sum(Debit)", "M2D") 
                          .withColumnRenamed("2_sum(Credit)", "M2C") 
                          .withColumnRenamed("3_sum(Debit)", "M3D") 
                          .withColumnRenamed("3_sum(Credit)", "M3C")

renamed_conv_null_df: org.apache.spark.sql.DataFrame = [Acct: string, M1D: bigint ... 5 more fields]

In [68]:
renamed_conv_null_df.show()

+----+----+---+----+----+----+----+
|Acct| M1D|M1C| M2D| M2C| M3D| M3C|
+----+----+---+----+----+----+----+
|   B|  10|200|null|null|  20|null|
|   C|1000|100|  10|null|null|null|
|   A| 100|200| 200| 200| 300|  10|
+----+----+---+----+----+----+----+

## Create new column and fillna

In [70]:
renamed_conv_null_df = renamed_conv_null_df.fillna(0, subset=["M2C"]) 
                       .fillna(1, subset=["M3C"]) 
                       .withColumn("Ratio", col("M2C") / col("M3C"))

<console>: 2: error: illegal start of simple expression